h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: purple;
    color: white;
    text-align: center;
}

h3 {
    background-color: rgb(83, 165, 197);
    color: rgb(46, 31, 46);
    text-align: right;
    text-decoration: underline;
}